* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-Inter;
  font-style: normal;
  font-display: swap;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: calc(1440px);
  margin: 0 auto;

  @include desktop-big {
    max-width: calc(100% - 32px);
  }
}

.section-top {
  margin-top: 160px;

  @include desktop {
    margin-top: 80px;
  }
}

.main_title {
  font-family: $font-Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;

  @include desktop() {
    font-size: 30px;
    line-height: 38px;
  }

  &_dark {
    color: $color-dark;
  }

  &_white {
    color: $color-white;
  }
}

.btn_large {

  &_green {
    background-color: $color-green-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 249px;
    gap: 10px;
    transition: .3s linear;
    border-radius: 24px;
    padding: 16px 32px;

    span {
      font-family: $font-Raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: $color-white;
    }

    img {
      flex-shrink: 0;
      width: 48px;
      height: 48px;
    }

    &:hover {
      background-color: $color-green-light-20;
    }
  }

  &.disabled {
    background-color: #D9D9D9;
  }

  &_dark {
    background-color: $color-green-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 249px;
    gap: 10px;
    transition: .3s linear;
    border-radius: 24px;
    padding: 16px 32px;

    span {
      font-family: $font-Raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: $color-white;
    }

    img {
      flex-shrink: 0;
      width: 48px;
      height: 48px;
    }

    &:hover {
      background-color: $color-grey-dark-20;
    }
  }
}

.btn_medium {
  &_green {
    background-color: $color-green-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 252px;
    gap: 4px;
    transition: .3s linear;
    border-radius: 16px;
    padding: 19px 32px;

    span {
      font-family: $font-Raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: $color-white;
    }

    img {
      flex-shrink: 0;
      width: 24px;
      width: 24px;
    }

    &:hover {
      background-color: $color-green-light-20;
    }
  }

  &.disabled {
    background-color: #D9D9D9;
  }

  &_dark {
    background-color: $color-green-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 252px;
    gap: 4px;
    transition: .3s linear;
    border-radius: 16px;
    padding: 19px 32px;

    span {
      font-family: $font-Raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: $color-white;
    }

    img {
      flex-shrink: 0;
      width: 24px;
      width: 24px;
    }

    &:hover {
      background-color: $color-grey-dark-20;
    }
  }
}

