// fonts
$font-Inter: "Inter", sans-serif;
$font-Raleway : "Raleway", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-dark: #303030;
$color-green-dark: #3C7582;
$color-green-light: #7EA479;
$color-green-light-20: #6B9266;
$color-grey-light: #727272;
$color-grey: #B3B3B3;
$color-grey-dark: #434343;
$color-grey-dark-20: #5A5A5A;
$color-red: #FF0000;
$color-line: #D9D9D9;
$color-white-50: #FFFFFF80;
$color-blue-linear: linear-gradient(180deg, #55A9B9 0%, #8CC7D2 100%);
// colors
