// fonts
$font-Inter: "Inter", sans-serif;
$font-Raleway : "Raleway", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-dark: #303030;
$color-grey: #949494;
$color-grey-2: #6C6C6C;
// colors
