// brand_home
.brand_home {
  background-color: $color-white;
  border-radius: 0 0 48px 48px;
  padding: 132px 0 87px 0;

  @include tablet {
    padding: 16px 0 52px 0;
  }

  .container {
    display: flex;
    align-items: start;
    gap: 142px;

    @include desktop {
      gap: 24px;
      justify-content: space-between;
    }

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  &_right {
    min-width: 466px;

    @include tablet {
      min-width: 100%;


      img {
        width: 100%;
      }
    }
  }

  &_left {
    max-width: 832px;

    @include tablet {
      max-width: 100%;
    }
  }

  h3 {
    font-family: $font-Raleway;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: $color-dark;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #727272;
    margin: 24px 0 64px 0;

    @include tablet {
      margin: 16px 0 24px 0;
    }
  }

  .btn_medium_green {
    padding: 16px 32px;
    border-radius: 24px;

    @include tablet {
      width: 100%;
    }

    img {
      width: 48px;
      height: 48px;
    }
  }
}
// brand_home

// brand_order
.brand_order {
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 40px;
  }

  .order_container {
    @include tablet {
      gap: 24px !important;
    }
  }

  &_left {

    @include desktop-two {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include tablet {
      display: flex;
      justify-content: center;
    }

    img {
      border-radius: 48px;
    }
  }

  .order__right .form_group, .order__right .btns_wrap {
    display: flex !important;
  }

  .order__right {
    background: transparent;

    @include tablet {
      padding: 0;
    }

    .btn_medium_dark {
      display: none;
    }
  }

  .btns_wrap {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  .main_title {
    font-size: 30px;
    line-height: 38px;
    color: $color-dark;
  }

  .description {
    font-size: 16px;
    line-height: 21px;
    color: $color-dark !important;
  }
}
// brand_order

// science
.science {
  border-radius: 48px;
  background: $color-white;
  padding: 64px 0;

  @include mobile {
    padding: 50px 0;
    border-radius: 24px;
  }

  &_in {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include mobile {
      gap: 24px;
    }
  }

  &_block {
    display: flex;
    align-items: center;
    gap: 264px;

    &:nth-child(1) {
      @include mobile {
        flex-direction: column-reverse;
      }
    }

    @include tablet {
      gap: 24px;
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
    }

    &_left,
    &_right {
      @include mobile {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  h6 {
    font-family: $font-Raleway;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: $color-dark;
    margin-bottom: 32px;

    @include tablet {
      font-size: 26px;
      line-height: 34px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;

    li {
      margin-left: 15px;
      list-style-type: disc;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      color: #727272;
    }
  }
}
// science

// brand_comfort
.brand_comfort {
  padding: 120px 0;

  @include mobile {
    padding: 40px 0;
  }

  &_in {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_block_left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

    @include mobile {
      gap: 16px;
    }

    h6 {
      font-family: $font-Raleway;
      font-size: 32px;
      font-weight: 600;
      line-height: 38px;
      color: $color-dark;

      @include mobile {
        font-size: 26px;
        line-height: 34px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: #727272;
    }
  }

  &_block_center {
    background: linear-gradient(180deg, #55A9B9 0%, #8CC7D2 100%);
    backdrop-filter: blur(10px);
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;

    @include mobile {
      gap: 16px;
      border-radius: 24px;
      padding: 24px;
    }

    h6 {
      font-family: $font-Raleway;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      color: $color-white;

      @include mobile {
        font-size: 19px;
        line-height: 26px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: $color-white;
    }

    .btn_medium_dark {
      padding: 14px 24px;
      border-radius: 16px;
      width: 100%;
    }
  }

  &_block_right {
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      border-radius: 48px;
      object-position: right;

      @include mobile-s {
        height: 368px;
        border-radius: 24px;
        object-position: 70%;
      }
    }
  }
}
// brand_comfort
