.category {
  padding: 100px 0;
  background-color: $color-white;

  @include desktop-two() {
    padding: 70px 0;
  }

  @include tablet() {
    padding: 23px 0 40px 0;
  }

  .main_title {
    margin-bottom: 48px;

    @include tablet() {
      margin-bottom: 24px;
    }
  }

  .grid_container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include desktop() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet() {
      gap: 8px;
    }
  }

  .grid_item {
    border-radius: 32px;
    overflow: hidden;
    position: relative;
    height: 440px;

    @include tablet() {
      height: 340px;
      border-radius: 24px;
    }

    @include mobile() {
      height: 175px;
    }

    .grid_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h6 {
      position: absolute;
      top: 24px;
      left: 24px;
      font-family: $font-Raleway;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      color: $color-white;

      @include mobile() {
        top: 8px;
        left: 16px;
        font-size: 14px;
        line-height: 17px;
      }
    }

    h6.black {
      color: $color-dark;
    }

    .category_icon {
      position: absolute;
      top: 24px;
      right: 24px;

      @include mobile() {
        bottom: 8px;
        right: 16px;
        top: auto;
        width: 40px;
        height: 40px;
      }
    }
  }
}
