.footer {
  background-color: $color-green-dark;
  padding: 64px 0;

  &.product_card_page_footer {
    @include tablet() {
      padding: 32px 0 160px 0;
    }
  }

  @include tablet() {
    padding: 32px 0;
  }

  &_top {
    padding-bottom: 37px;
    border-bottom: 1px solid $color-line;

    @include tablet() {
      padding-bottom: 0;
    }
  }

  &_bottom {
    padding-top: 37px;
    border-top: 1px solid $color-line;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @include tablet() {
        flex-direction: column;
      }
    }

    a,
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: $color-white-50;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    gap: 64px;

    @include desktop-two() {
      gap: 30px;
    }

    @include tablet() {
      display: none;
    }
  }

  &_item {
    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: $color-white;
    }
  }

  &_center {
    padding: 54px 0;

    @include tablet() {
      padding: 38px 0;
    }

    .container {
      display: flex;
      gap: 280px;

      @include desktop-two() {
        gap: 32px;
        justify-content: space-between;
      }

      @include tablet() {
        flex-direction: column;
      }
    }

    h6 {
      font-family: $font-Raleway;
      font-size: 40px;
      font-weight: 700;
      line-height: 47px;
      color: $color-white;
      margin-bottom: 24px;

      @include tablet() {
        font-size: 28px;
        line-height: 47px;
        text-align: center;
        margin-bottom: 16px;
      }
    }

    form {
      display: flex;
      align-items: end;
      gap: 24px;

      @include tablet() {
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 16px;
      }
    }

    label {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      color: #F5F5F5;
      margin-bottom: 4px;
    }

    .input {
      @include tablet() {
        width: 100%;
      }
    }

    .main_input {
      height: 52px;
      width: 479px;

      @include tablet() {
        width: 100%;
      }

      &::placeholder {
        color: $color-grey;
      }
    }

    .btn_medium_green {
      width: 191px;
      border-radius: 16px;
      padding: 14px 24px;

      @include tablet() {
        height: 62px;
        width: 100%;
        justify-content: center;
      }
    }
  }

  &_contact {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet() {
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: $color-white;

      img {
        flex-shrink: 0;
      }
    }

    .social {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
