.order_page {
  position: relative;

  .page_prev_btn {
    display: none;

    @include tablet() {
      display: flex;
      top: 20px;
      left: 16px;
    }
  }

  .main_title {
    padding-bottom: 32px;

    br {
      display: none;

      @include tablet() {
        display: block;
      }
    }

    @include tablet() {
      padding: 16px 0 24px 0;
      text-align: center;
    }
  }

  .breadcrumb {
    @include tablet() {
      display: none;
    }
  }

  &_in {
    display: flex;
    align-items: start;
    gap: 142px;

    @include desktop-big() {
      gap: 50px;
    }

    @include tablet() {
      flex-direction: column;
      gap: 16px;
    }

    .container {
      width: 100%;

      @include tablet() {
        max-width: calc(100%);
      }
    }
  }

  &_right {
    width: 588px;

    @include tablet() {
      width: 100%;
    }
  }

  &_form {
    border-radius: 32px;
    padding: 32px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form_in {
      display: flex;
      gap: 16px;

      @include tablet() {
        flex-direction: column;
      }

      .main_input {
        width: 100%;
      }
    }

    .btn_medium_dark {
      padding: 14px 24px;
      background-color: $color-grey-dark;
      
      @include tablet() {
        width: 175px;
      }
    }

    h6 {
      font-family: $font-Raleway;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      color: $color-dark;
    }
  }

  .basket_right {
    margin-top: 24px;

    .green {
      color: #5FBB43;
    }

    .order_page_btn {
      width: 100%;
      justify-content: center;
    }
  }
}
