.recommendation {
  padding: 120px 0;

  @include tablet() {
    padding: 40px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include desktop-big() {
      flex-direction: column;
      gap: 16px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #727272;
    margin: 16px 0 32px 0;

    @include tablet() {
      margin: 16px 0;
    }
  }

  &_img {
    width: 345px;
    flex-shrink: 0;

    img {
      width: 345px;
      border-radius: 32px;
    }
  }

  &_content {
    max-width: 1075px;
  }

  &_blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 16px;

    @include tablet() {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &_block {
    border-radius: 24px;
    padding: 16px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    gap: 10px;

    @include tablet() {
      border-radius: 16px;
      padding: 8px;
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      flex-shrink: 0;

      @include tablet() {
        width: 32px;
        height: 32px;
      }
    }

    span {
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      color: #727272;

      @include tablet() {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }

  .one {
    max-width: 428px;

    @include tablet() {
      max-width: 100%;
      order: 7;
    }
  }

  .two {
    max-width: 320px;
    @include tablet() {
      max-width: 100%;
      order: 4;
    }
  }

  .three {
    max-width: 272px;
    @include tablet() {
      max-width: 100%;
      order: 3;
    }
  }

  .four {
    max-width: 381px;
    @include tablet() {
      max-width: 100%;
      order: 2;
    }
  }

  .five {
    max-width: 356px;
    @include tablet() {
      max-width: 100%;
      order: 6;
    }
  }

  .six {
    max-width: 283px;
    @include tablet() {
      max-width: 100%;
      order: 5;
    }
  }

  .seven {
    max-width: 351px;
    @include tablet() {
      max-width: 100%;
      order: 1;
    }
  }

  .eight {
    max-width: 630px;
    @include tablet() {
      max-width: 100%;
      order: 8;
    }
  }
}
